{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src"],
  "exclude": [
    "**/*/*.spec.ts",
    "**/*/index.ts",
    "**/*/*.d.ts",
    "src/utils/Logger.ts",
    "src/auth/SpotifyAuth.ts",
    "src/config/Config.ts"
  ],
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100
}
